body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.section-title {
  background-color: #98af4c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-weight: bold;
}

form, table {
  background: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #2196F3;
  color: white;
}

tbody tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #a04577;
}

/* Responsive bảng */
.table-responsive {
  overflow-x: auto;
}
